ENGLISH LANG "English.ini"
RUSSIAN LANG "Russian.ini"
POLISH LANG "Polish.ini"
GERMAN LANG "German.ini"
FRENCH LANG "French.ini"
ITALIAN LANG "Italian.ini"
SPANISH LANG "Spanish.ini"
PORTUGUESE LANG "Portuguese.ini"
ARABIC LANG "Arabic.ini"
TURKISH LANG "Turkish.ini"
CHINESE LANG "Chinese.ini"
JAPANESE LANG "Japanese.ini"
KOREAN LANG "Korean.ini"